---
---

@import "{{ site.theme }}";

.page-header {
  text-align: center;
  background-color: #ee3780;
  background-image: linear-gradient(120deg,#ee3780,#000426);
}

footer {
  display: none !important;
}

.btn {
  display: none !important;
}
