---
---

@import "{{ site.theme }}";

.page-header {
  text-align: left;
  background-image: url(assets/imgs/discordheader.png) repeat 0 0;
}

footer {
  display: none !important;
}

.btn {
  display: none !important;
}
