---
---

@import "{{ site.theme }}";

.page-header {
  text-align: center;
  background-image: url("assets/imgs/discordheader.png");
}

footer {
  display: none !important;
}

.btn {
  display: none !important;
}
